/* .label {
  display: block;
}

img {
  width: 200px;
}  */

/* .border {
  border: 5px solid #f00;
} */

/* img {
  display: block;
  width: 200px;
  margin: 10px 0;
} */

textarea {
  display: block;
}